@model IEnumerable<MyLeasing.Web.Data.Entities.Property>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Properties</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                Property Type
                            </th>
                            <th>
                                Owner
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Neighborhood)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SquareMeters)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsAvailable)
                            </th>
                            <th>
                                Images
                            </th>
                            <th>
                                Contracts
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PropertyType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Owner.User.FullNameWithDocument)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Neighborhood)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SquareMeters)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsAvailable)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PropertyImages.Count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Contracts.Count)
                                </td>
                                <td>
                                    <a asp-action="Details" class="btn btn-default" asp-route-id="@item.Id"><i class="glyphicon glyphicon-list"> </i> </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
    </script>
}
